header {
    width: 100%;
    text-align: center;
}

.bold {
    font-weight: bold;
}

#simply {
    width: 13%;
    margin: auto;
}

#divHeader {
    background-color: rgba(253, 251, 241);
    margin: auto;
    text-align: center;
    padding: 10px;
    border-top: 3px solid rgb(253, 248, 229);
}

#main {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    
}

h1 {
    text-align: center;
}

#imgMain {
    width: 600px;
    height: 330px;
    margin: auto;
    border-radius: 10px;
    align-items: center;
}

#SallyVegas {    
    text-align: center;
}   


#divFooter {
    text-align: center;
}   