header {
    width: 100%;
    text-align: center;
}

.bold {
    font-weight: bold;
}

#simply {
    width: 13%;
    margin: auto;
}

#divHeader {
    background-color: rgba(253, 251, 241);
    margin: auto;
    text-align: center;
    padding: 10px;
    border-top: 3px solid rgb(253, 248, 229);
}

#main {
    width: 43%;
    margin: auto;
    margin-top: 30px;
    
}

h1 {
    text-align: center;
}

#imgMain {
    width: 550px;
    height: 330px;
    border-radius: 10px;
    margin: auto;
    display: block;
}

#SallyVegas {    
    text-align: center;
    font-size: 0.8em;
    color: #3b817e;
}   


#divFooter {
    text-align: center;
}   

#TestoSopraImg {
    text-align: center;
    font-size: 0.9em;
}

#h2Main2 {
    text-align: left;
    display: block;
    font-weight: normal;
}

#titololistafocaccia {
    font-weight: bold;
}   
    
#listafocaccia {
    font-size: 0.8em;
} 

#listafocacciaElementi {    
    font-weight: normal;
    padding: 0.5%;               
} 

#toppingElementi {            
    font-weight: normal;
    padding: 0.5%;    
}

#titololistatopping {
    font-weight: bold;
}

#hrMain2 {    
    width: 110%;
    border: 0.5px solid rgb(239, 234, 234);
    margin: 18px;
}

#LineaVerticale {
    width: 1px;
    height: 15px;
    background-color: rgb(237, 235, 163);
    display: inline-block;
}

#coloreTestFeatureIn {
    color: rgb(57, 143, 229);
}

#testLineaVerticaleGialla {
    width: 2px;
    height: 5px;
}

#divMainLineaVerticale {
    display: flexbox;
}   

#pMainFEATURED{
    font-weight: bold;
    display: inline;  
    color: red;  
    
}

#lineaVerticale {
    width: 1px;
    height: 15px;
    background-color: rgb(237, 235, 163);
}

#pMainFreshCranberry {
    font-size: 1.1em;
    text-decoration: underline;
    color: #3b817e;
    margin: 0;
}